<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.6.0/dist/socket.io.min.js"></script>
</head>

<body>
    <section class="chatbox box">
        <article class="display">
            alphaX is typing a message...
        </article>
        <form action="/chat" id="form" method="post">
            <input type="text" placeholder="Message" class="input message" required>
            <button type="submit" id="button" class="button is-primary">Send</button>
        </form>
    </section>
    <style>
        * {
            box-sizing: border-box;
        }

        .chatbox {
            padding: 2rem;
            min-width: 100vw;
            max-width: 768px;
            min-height: 400px;

            display: grid;
            grid-template-rows: 9fr 1fr;
        }

        form {
            display: grid;
            grid-template-columns: 9fr 1fr;
        }
    </style>
    <script>
        const form = document.querySelector('#form');
        const button = document.getElementById('button');
        const message = document.querySelector(".message").textContent;

        form.addEventListener('submit', async (e) => {
            e.preventDefault();
            // code for how the message is sent
            const response = await fetch(url, {
                method: "POST",
                mode: "cors",
                cache: "no-cache",
                credentials: "same-origin",
                headers: {
                    "Content-Type": "application/json",
                },
                redirect: "follow",
                referrerPolicy: "no-referrer",
                body: JSON.stringify({ message: message })
            });

            const data = await response.json();
        });

        const socket = new io();
        // Create a request object
        const request = {
            // The name of the event to emit
            event: 'chat',
            // An optional JSON object containing data
            data: {
                message: message,
            },
        };
        // Emit the request to the server
        socket.emit(request);

    </script>
</body>

</html>