<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.6.0/dist/socket.io.min.js"></script>
</head>

<body>
    <section class="chatbox box">
        <article class="display">

        </article>
        <article action="/chat" id="form" method="post">
            <input type="text" placeholder="username" class="input username" required>
            <input type="text" placeholder="message" class="input message" required>
            <button type="submit" id="button" class="button is-primary">Send</button>
        </article>
    </section>
    <style>
        * {
            box-sizing: border-box;
        }

        .chatbox {
            padding: 2rem;
            min-width: 10rem;
            min-height: 10rem;

            display: grid;
            grid-template-rows: 9fr 1fr;
        }

        #form {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    </style>
    <script>
        const button = document.getElementById('button');
        const display = document.querySelector(".display");
        const socket = new io("http://localhost:8000");

        button.addEventListener('click', async (e) => {
            e.preventDefault();
            
            const message = document.querySelector(".message").value;
            const username = document.querySelector('.username').value;
            // Create a request object
            const request = {
                // The name of the event to emit
                event: 'chat',
                // An optional JSON object containing data
                data: {
                    username: username,
                    message: message,
                },
            };
            // Emit the request to the server
            socket.emit('chat', request);
        });
    </script>
</body>

</html>